/*
light taupe: #f5ebe0
deep green: #354f52
logo/accent: #b7b7a4
gold: #dda15e
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #222222;
    line-height: 1.5;
    background-color: #f5ebe0;
    padding: 15px 15px;
    text-align: center;
}

a {
    color: #222222;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    line-height: 1.5;
    color: #b4762f;
    font-family: "Italiana", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 3.3em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1.2;
    font-family: "Italiana", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 2em;
    text-transform: lowercase;
    letter-spacing: -1px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    font-size: .8em;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.hero img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 15px;
}

.about {
    background-color: rgba(250, 250, 250, 0.51);
    padding: 30px;
}

.work-container {
    display: flex;
    flex-direction: column;
}

.applications {
    display: flex;
    flex-direction: row;
}

.applications img {
    max-width: 100%;
    max-height: auto;
}


/* .work img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
} */

.italic {
    font-style: italic;
}

.gold {
    color: #dda15e;
    font-weight: bold;
}

footer {
    text-align: center;
}





@media screen and (min-width:480px) {

    body {
        padding: 35px 15%;
    }

    header {
        justify-content: center;
    }

    header img {
        width: 20%;
        height: 20%;
    }

    nav ul {
        display: flex;
        line-height: 4;
    }

    nav ul li {
        padding-left: 15px;
    }

    .hero {
        padding-top: 35px;
        padding-bottom: 35px
    }

    .hero img {
        width: 20%;
        height: 20%;
        margin: 20px;
    }

    h1 {
        line-height: 1;
    }

    .about {
        padding: 35px 50px;
    }
    
    .applications {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        flex-wrap: nowrap;
    }



}
