/*
light tan bg: #f5ebe0
light green logo: #b7b7a4
gold accent: #dda15e
dark gold h2: #b4762f
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #222222;
    line-height: 1.5;
    background-color: #f5ebe0;
    padding: 15px 15px;
    text-align: center;
}

a {
    color: #222222;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-bottom: 25px;
}

h1 {
    font-size: 3.3em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1.2;
    font-family: "Italiana", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    line-height: 1.5;
    color: #b4762f;
    font-family: "Italiana", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 2.3em;
    text-transform: lowercase;
    letter-spacing: -1px;
}

/* PAGE HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    font-size: .8em;
}

/* TITLE & PHOTO */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.hero img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 15px;
}

.about, .work {
    background-color: rgba(250, 250, 250, 0.51);
    padding: 30px;
}

/* APPLICATIONS FLEXBOX */
.work-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

/* APPLICATION IMAGES */
.horiseon {
    background-image: url("../images/horiseon-application.png");
}

.interior {
    background-image: url("../images/modern-interior.png");
    /* Photo by <a href="https://unsplash.com/@spacejoy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Spacejoy</a> on <a href="https://unsplash.com/photos/brown-woven-basket-on-brown-wooden-table-MjvGoa_oRts?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>   */
}

.stargazing {
    background-image: url("../images/stargazing.png");
    /* Photo by <a href="https://unsplash.com/@neom?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">NEOM</a> on <a href="https://unsplash.com/photos/a-man-standing-in-the-middle-of-a-desert-at-night-SUIMrEKVOXc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>   */
}

.recipes {
    background-image: url("../images/rainbow-dish.png");
    /* Photo by <a href="https://unsplash.com/@kimzy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kimzy Nanney</a> on <a href="https://unsplash.com/photos/mixed-fruits-on-bowl-with-blueberry-on-top-LNDgBERq8Q0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
}

.hiking {
    background-image: url("../images/hiking.png");
    /* Photo by <a href="https://unsplash.com/@theforestbirds?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Joel & Jasmin Førestbird</a> on <a href="https://unsplash.com/photos/person-hiking-above-mountain-overlooking-river-znoL1m6MD_k?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
}

.horiseon, .interior, .stargazing, .recipes, .hiking {
    opacity: .7;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
}

/* TEXT OVER APPLICATIONS */
.label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-wrap: wrap;
    text-transform: uppercase;
    color: #222222;
    background-color: #f5ebe0bd;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 3px;
    text-align: center;
    width: 100%;
}

.horiseon:hover, .interior:hover, .stargazing:hover, .recipes:hover, .hiking:hover {
    opacity: 1;
}

.italic {
    font-style: italic;
}

.gold {
    color: #dda15e;
    font-weight: bold;
}

footer {
    text-align: center;
}




@media screen and (min-width:480px) {

    body {
        padding: 35px 15%;
    }

    header {
        justify-content: center;
    }

    header img {
        width: 20%;
        height: 20%;
    }

    nav ul {
        display: flex;
        line-height: 4;
    }

    nav ul li {
        padding-left: 15px;
    }

    .hero {
        padding-top: 35px;
        padding-bottom: 35px
    }

    .hero img {
        width: 20%;
        height: 20%;
        margin: 20px;
    }

    h1 {
        line-height: 1;
    }

    .about {
        padding: 35px 50px;
    }
    
    .small-apps {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .interior, .stargazing, .recipes, .hiking {
        width: 469px;
    }

}
